/*
    Document   : Ares Stylesheet
    Created on : Oct. 24, 2017
    Author     : Bilal
*/

body * {
    outline: none !important;
}

body {
    background-color: rgb(245,245,245);
}

body.admin-bar header#masthead {
    top: 32px;
}

@media (max-width:782px) {
    body.admin-bar header.site-header {
        top: 46px !important;
    }
}

a {
    text-decoration: none !important;
}

.ares-button,
.widget.woocommerce a.button
.widget.woocommerce button.button {
    transition: .3s all ease-in-out;
    -moz-transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
}

a.button-primary {
    color: #fff !important;
}

h4.none-to-display {
    margin: 50px 0;
    text-align: center;
}

@media (max-width:991px) {
    .tablet-hidden {
        display: none;
    }
}

header.site-header{
    width: 100%;
    position: fixed;
    z-index: 99;
    top: 0;
    background: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(240, 240, 240);
}

header.page-header {
    margin: 0;
    border-bottom: none;
}

header.page-header .page-title {
    margin: 0;
    text-align: center;
    background: #1f1f1f;
    color: #fff;
}

.post-title {
    border-bottom: thin solid #cacaca;
    padding-bottom: 15px !important;
}

input#submit,
input[type="submit"],
.widget.woocommerce .button{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    border-radius: 20px;
    padding: 0 17px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
    color: #fff;
    font-size: 16px;
    text-shadow: none;
    border: none;
    transition: .3s all ease-in-out;
    -moz-transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;
}

form.search-form input.search-field {
    border: thin solid #eaeaea;
    padding: 7px 10px;
    font-weight: 400;
    max-height: 30px;
}

/* --- Toolbar --- */

#site-toolbar{
    background: #ffffff;
    color: rgb(208, 208, 208);
    height: 40px;
    border-bottom: 1px solid #F0F0F0;
    overflow: hidden;
    font-size: 14px;
}

    /* --- Social --- */

    #site-toolbar .social-bar,
    #site-toolbar .contact-bar {
        height: 40px;
        line-height: 40px;
    }

    #site-toolbar .contact-bar {
        text-align: right;
    }
    
    #site-toolbar .contact-bar aside ul {
        list-style: none;
    }

    #site-toolbar .contact-bar {
        font-size: 14px !important;
    }
    
    #site-toolbar .social-bar a {
        transition: .3s all ease-in-out;
        -moz-transition: .3s all ease-in-out;
        -webkit-transition: .3s all ease-in-out;
        width: 25px;
        height: 25px;
        margin: 7px 5px;
        font-size: 12px;
        display: inline-block;
        text-align: center;
        line-height: 25px;
        border: 1px solid #e0e0e0;
        border-radius: 50%;
        background: #D8D8D8;
        color: #fff;
    }

    @media (max-width:767px) {
        #site-toolbar .social-bar {
            width: 100%;
            text-align: center;
        }
        #site-toolbar .social-bar a {
            margin: 7px 2px;
        }
    }

/* --- Branding & Menu Bar --- */

#site-branding {
    min-height: 80px;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    align-items: center;
    padding: 0 15px;
}

#site-branding div.branding {
   width: 25%;
}

#site-branding div.navigation {
   width: 75%;
   font-size: 15px;
}

#site-branding img {
    max-height: 80px;
    width: auto;
}

@media (max-width:991px) {
    #site-branding div.branding {
        width: 100%;
    }
}

#site-branding .site-title {
    margin: 0;
    padding-top: .15em;
    font-size: 32px;
}

#site-branding div#primary-menu {
    float: right;
}

#site-branding div.navigation ul#primary-menu {
    text-align: right;
}

ul#primary-menu > li {
    line-height: 1.75em;
    vertical-align: text-top;
    display: inline-block;
    padding-top: .25em;
    float: none;
}

#site-branding ul#primary-menu ul.sub-menu {
    background-color: #fff;
    opacity: 0;
    transition: .3s all ease-in-out;
    -moz-transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;
    text-align: left;
    padding: 15px 0;
}

#site-branding ul#primary-menu li:hover ul.sub-menu {
    opacity: 1;
}

@media (max-width:991px) {
    #site-branding {
        height: 80px;
    }
    #site-branding .navigation {
        display: none;
    }
    div#content {
        margin-top: 120px !important;
    }
}

/* --- Mobile Menu --- */
#mobile-overlay,
#cart-overlay {
    z-index: 999;
    display: none;
    background-color: rgba(0, 0, 0, 0.65);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

@media (min-width:992px) {
    .mobile-trigger-wrap {
        display: none;
    }
}

.mobile-trigger-wrap #mobile-menu-trigger {
    float: none;
}
.mobile-trigger-wrap #header-cart {
    float: none;
    display: inline-block;
}

div#mobile-menu-wrap,
div#cart-slide-wrap {
    z-index: 9999;
    width: 220px !important;
}
.mobile-trigger-wrap {
    float: right;
    width: 100%;
    text-align: right;
}
.admin-bar div#mobile-menu-wrap,
.admin-bar div#cart-slide-wrap {
    top: 32px !important;
}
@media (max-width:782px) {
    .admin-bar div#mobile-menu-wrap,
    .admin-bar div#cart-slide-wrap {
        top: 46px !important;
    }
}
div#mobile-menu-wrap nav#menu {
    padding: 30px;
    height: 100%;
    display: none;
}
div#mobile-menu-wrap ul#mobile-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}
div#mobile-menu-wrap ul#mobile-menu ul.sub-menu {
    display: none;
    padding: 0 0 0 15px;
    margin: 5px 0;
    list-style: none;
    font-size: small;
    border-left: thin dotted #505050;
}
div#mobile-menu-wrap ul#mobile-menu > li {
    margin-bottom: 5px;
}
div#mobile-menu-wrap ul#mobile-menu li.menu-item-has-children .submenu-button-wrap {
    width: 16px;
    height: 16px;
    display: inline-block;
    transition: 0.2s all ease-in-out;
    -moz-transition: 0.2s all ease-in-out;
    -webkit-transition: 0.2s all ease-in-out;
    text-align: center;
}
div#mobile-menu-wrap ul#mobile-menu li.menu-item-has-children span {
    color: #fff;
    font-size: 12px;
    line-height: 16px;
    display: inline-block;
    width: 16px;
    height: 16px;
    cursor: pointer;
}
div#mobile-menu-wrap ul#mobile-menu li.menu-item-has-children a {
    margin-left: 5px;
}
div#mobile-menu-wrap ul#mobile-menu li.menu-item-has-children .submenu-rotated {
    transform: rotate(-180deg);
}
div#mobile-menu-wrap #mobile-menu-close,
div#cart-slide-wrap #cart-slide-close {
    display: none;
    position: absolute;
    left: 240px;
    top: 30px;
    cursor: pointer;
}
span#mobile-menu-trigger span {
    font-size: 28px;
    cursor: pointer;
}

#mobile-menu-social-link {
    text-align: center;
}
#mobile-menu-social-link a {
    display: inline-block;
}
#menu {
    top: 0px;
    background-color: #131313;
    border-radius: 0;
}
#menu > .menu-link {
    text-align: right;
    padding-right: 3px;
    font-size: 30px;
    margin-bottom: -50px;
    color: rgba(255, 255, 255, 0.74);
    position: absolute;
    top: 10px;
    right: 10px;
}
#menu a {
    color: white;
}
#mobile-menu #primary-menu > li {
    margin: 15px;
}

/* --- Slider --- */

.sc-slider-wrapper{
    margin: 0 auto;
    overflow: hidden;
    /*max-height: 600px;*/
}
div#ares_slider_wrap {
    margin-bottom: 0 !important;
}
.sc-slider-wrapper .camera_caption{
    width: 100%;
    margin: 0 auto;
    top: 0;
    display: table;
    height: 100%;
}
.sc-slider-wrapper .camera_caption span {
    font-size: 45px;
    text-transform: uppercase;
}
.sc-slider-wrapper .camera_caption > div{
    background: transparent;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.sc-slider-wrapper .camera_caption > div span{
    display: inline-block;
    padding: 7px 40px;
    text-shadow: 1px 1px 10px rgba(0,0,0,0.5);
    -webkit-text-shadow: 1px 1px 10px rgba(0,0,0,0.5);
    -moz-text-shadow: 1px 1px 10px rgba(0,0,0,0.5);
    font-size: 50px;
    line-height: normal;
    display: block;
}
@media (max-width:991px) {
    .sc-slider-wrapper .camera_caption > div span,
    .sc-slider-wrapper .parallax h2 {
        font-size: 32px;
    }
}
@media (max-width:599px) {
    .sc-slider-wrapper .camera_caption > div span,
    .sc-slider-wrapper .parallax h2 {
        font-size: 24px !important;
    }
}

.sc-slider-wrapper .camera_caption > div span, 
.sc-slider-wrapper .parallax h2 {
    line-height: 1em;
}

/* --- Post Slider CTA Bar --- */
div#post-slider-cta {
    color: #fff;
    padding: 30px;
    text-align: center;
}

div#post-slider-cta .main-heading {
    font-size: 36px;
    margin-top: 0;
}

div#post-slider-cta .secondary-heading {
    font-size: 26px;
    margin-bottom: 0;
    font-weight: 300;
}

@media (max-width:767px) {

    div#post-slider-cta .main-heading {
        font-size: 24px;
    }

    div#post-slider-cta .secondary-heading {
        font-size: 18px;
    }

}

/* --- CTA Trio --- */
#site-cta-wrap {
    background-color: #fff;
    border-bottom: 1px solid rgb(234, 234, 234);
}
#site-cta{
    border-top: 1px solid rgb(245,245,245);
    position: relative;
    z-index: 9;
    background: #fff;
    padding: 30px;
}
#site-cta .site-cta{
    text-align: center;
    position: relative;
    padding-top: 30px;
    min-height: 230px;
}
#site-cta .site-cta .fa{
    display: inline-block;
    width: 70px;
    height: 70px;
    font-size: 24px;
    text-align: center;
    line-height: 66px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    border: 2px solid #d0d0d0;
    color: #8C8C8C;
    transition: 0.2s all ease-in-out;
    -moz-transition: 0.2s all ease-in-out;
    -webkit-transition: 0.2s all ease-in-out;
    position: relative;
    cursor: pointer;
}
#site-cta .site-cta .fa:hover{
/*    width: 90px;
    height: 90px;
    line-height: 90px;*/
    transform: scale(1.4);
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    color: #fff;
}
#site-cta .site-cta .fa:before {
    display: inline-block;
    transition: 0.1s all ease-in-out;
    -moz-transition: 0.1s all ease-in-out;
    -webkit-transition: 0.1s all ease-in-out;
}

#site-cta .site-cta .fa:hover:before {
    transform: scale(1.3);
    -moz-transform: scale(1.3);
    -webkit-transform: scale(1.3);
}
#site-cta.no-slider{
    top: 0;
    width: 100%;
    margin-bottom: 0;
}
#site-cta .col4.mid{
    margin: 0 2% 0 2%;
}
.site-cta h3 {
    font-size: 20px;
    transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    position: relative;
    font-weight: 700;
    margin: 15px 0 0;
    text-transform: uppercase;
    letter-spacing: 0.25em;
}
.site-cta .tagline {
    margin-top: 10px;
}
#site-cta .site-cta .icon-wrap {
    margin-bottom: 30px;
}

/* --- Site Branding --- */

#site-branding .row .col-xs-3{
    overflow: hidden;
}

#site-branding .search-bar{
    text-align: right;
}
#site-branding .search-bar .search-form{
    margin-top: 20px;
    line-height: 20px;

}
#site-branding .search-bar .search-field{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    outline-color: #fff;
    transition: 0.2s all ease-in-out;
    -moz-transition: 0.2s all ease-in-out;
    -webkit-transition: 0.2s all ease-in-out;
}
#site-branding .search-bar .search-field:focus{
    padding-right: 20px;
    color: #222;
}

/* --- Site Navigation --- */

#site-navigation.main-navigation > .row {
    overflow: visible;
}

#site-navigation.main-navigation li a {
    transition: .2s all ease-in-out;
    -moz-transition: .2s all ease-in-out;
    -webkit-transition: .2s all ease-in-out;
    font-size: 15px;
    padding: 0 0 0 20px;
    font-weight: 500;
    text-transform: uppercase;
    color: #000;
}
.main-navigation ul ul li{
    line-height: initial;
    /*height: 30px;*/
    line-height: 30px;
}

/*-- Header --*/
.site-description{
    font-size: 14px;
    margin: 5px 0 0 0;
}

/* --- Footer --- */

.site-footer {
    margin-top: 30px;
}

.site-footer.no-top-margin {
    margin-top: 0;
}

div#footer-callout h3 {
    margin-bottom: 0;
    margin-top: 0;
}

.site-footer .footer-boxes {
    margin-top: 0;
}

.site-footer .footer-boxes #secondary {
    padding: 50px 0;
}

.site-footer .ares-copyright {
    display: block;
    margin-bottom: 5px;
}

.scroll-top {
    position: relative;
    bottom: 0;
    top: 0;
    right: 0;
    margin: 0;
}

@media (max-width:767px) {
    div#footer-callout h3 {
        margin-bottom: 15px;
    }
    div#footer-callout .row div {
        text-align: center;
    }
}

/* --- Team Members --- */ 
.smartcat_team_member:hover img{
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
}

.sc_team_single_member .inner {
    background: none;
    margin-bottom: 0;
}

body.single.single-team_member #single-post-container article {
    padding: 15px;
}

.sc_team_single_member .sc_single_main {
    background: none;
}

.sc_team_single_member .sc_single_side {
    width: 100%;    
}

.sc_team_single_member .sc_single_main.sc-skills {
    width: 100%;
    margin: 0;
    padding: 0 15px;
}

.single-team_member .wp-post-image {
    width: 100%;
    margin: 0 auto 15px auto;
    display: block;
    float: none;
    border-radius: 50%;
}

.sc_team_single_member .sc_single_main.sc-skills .name {
    font-size: 42px;
    margin-top: 0;
    margin-bottom: 5px;
    text-align: center;
}

.sc_team_single_member .sc_single_main.sc-skills .title {
    text-align: center;
    margin-top: 0;
    padding-bottom: 15px;
    border-bottom: thin solid #eaeaea;
    margin-bottom: 20px;
}

.sc_team_single_member .sc_single_main.sc-skills .content-wrap {
    margin: 30px 0 0 0;
    padding: 15px 30px;
}

.sc_team_single_member .sc_single_main.sc-skills .articles-wrap {
    padding: 15px 30px;
}

.sc_team_single_member .social a.sc_social img {
    width: 30px;
    margin: 0 2px;
}

.sc_team_single_member .sc_team_single_skills {
    padding: 15px 30px;
    width: 100%;
}

@media (max-width:767px) {
    .sc_team_single_member .social a.sc_social img {
        width: 24px;
    }
    
    .sc_team_single_member .sc_single_main.sc-skills .articles-wrap,
    .sc_team_single_member .sc_single_main.sc-skills .content-wrap,
    .sc_team_single_member .sc_team_single_skills {
        padding-left: 15px;
        padding-right: 15px;
    }
    
}

.sc_team_single_member .articles h2 {
    margin: 0;
}

.sc_team_single_member .sc_single_main.sc-skills .social {
    text-align: center;
    margin-top: 15px;
}

.sc_team_single_member .sc_single_main .sc_personal_quote {
    position: relative;
}

.sc_team_single_member .sc_single_main .sc_personal_quote span.sc_team_icon-quote-left {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 22px;
    font-style: italic;
}

.sc_team_single_member .sc_single_main .sc_personal_quote span.sc_personal_quote_content {
    margin-left: 26px;
    width: 100%;
}

.sc_team_single_member .articles .article {
    background: none;
    border: thin solid #eaeaea;
}

.sc_team_single_member .articles .article a {
    color: #333;
    font-size: 18px;
}

.sc_team_single_member .articles .article span.post-date {
    color: #777;
    font-size: 14px;
    display: block;
}

.sc_team_single_member .sc_team_single_skills .progress {
    height: 40px;
    line-height: 40px;
}

.sc-tags .sc-single-tag {
    padding: 5px 15px;
}

/* --- Archive --- */
header.page-header .page-title {
    color: #fff;
    margin: 30px 0;
    text-align: left;
    padding: 30px 35px;
    margin-bottom: 0;
}

nav.navigation.posts-navigation {
    padding: 15px;
    margin-top: 20px;
}

nav.navigation.posts-navigation a {
    color: #fff;
}

.error-404 .page-content {
    padding-top: 0;
}

ol.comment-list {
    padding-left: 0;
    margin-left: 0;
    list-style: none;
}

ol.comment-list article {
    padding-top: 15px;
}

ol.comment-list article .comment-author.vcard {
    margin-bottom: 10px;
}

ol.comment-list ol.children {
    margin-left: 0;
    list-style: none;
}

#homepage-area-a
#homepage-area-b,
#homepage-area-d {
    border-bottom: thin solid #eaeaea;
    padding: 30px 0 0 0;
}

#homepage-area-d {
    padding: 50px 0 30px 0;
}

main#main.index .nothing-found-index {
    margin: 0;
    padding: 0;
}

.site-footer .site-info .col-xs-9 a {
    transition: .3s all ease-in-out;
    -moz-transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;
}

.site-footer .site-info .col-xs-9 a img {
    max-height: 24px;
}

.sc-slider-wrapper .fluid_container {
    background: #000;
}

aside.widget ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#homepage-area-c,
#homepage-area-d {
    text-align: center;
}

/*  
 * Pagination Links ------------------------------------------------------------
 */
.pagination-links {
    text-align: center;
    padding: 15px 0;
}

.pagination-links .page-numbers,
.woocommerce nav.woocommerce-pagination ul li span {
    padding: 4px 10px;
    display: inline-block;
    border-radius: 5px;
    color: #666;
    transition: .3s all ease-in-out;
    -moz-transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;
}

.pagination-links .page-numbers:hover,
.woocommerce nav.woocommerce-pagination ul li:hover {
    background-color: #dadada;
}

.pagination-links .page-numbers.current {
    color: #ffffff;
}

.pagination-links .page-numbers.dots {
    background: none;
}

/* WooCommerce */
.single-product .wp-post-image {
    max-width: 100%;
    margin: 0;
}

.woocommerce-breadcrumb {
    color: #fff !important;
    padding: 10px 35px !important;
}

.woocommerce-breadcrumb a {
    color: #fff !important;
}

nav.woocommerce-breadcrumb {
    margin-top: 30px !important;
}

header.woocommerce-products-header.page-header .woocommerce-breadcrumb {
    margin-top: 15px !important;
    margin-bottom: 30px;
}

.woocommerce nav.woocommerce-pagination ul {
    border: none;
    margin: 0 !important;
}

.woocommerce nav.woocommerce-pagination ul li {
    float: none;
    border-radius: 5px;
    font-size: 14px;
    line-height: 20px;
    overflow: visible;
    border-right: 0;
}

.woocommerce nav.woocommerce-pagination ul li span {
    border-radius: 5px;
    padding: 0;
}

.woocommerce nav.woocommerce-pagination ul li a:hover {
    background: none;
}

.wc-pagination ul {
    list-style: none;
    text-align: center;
    padding: 15px 0;
    margin: 0;
}

.wc-pagination ul li {
    display: inline-block;
}

.wc-pagination ul span.page-numbers,
.wc-pagination ul li a {
    padding: 4px 10px;
    display: inline-block;
    border-radius: 5px;
    color: #666;
    transition: .3s all ease-in-out;
    -moz-transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;
}

.wc-pagination ul span.page-numbers.current {
    color: #fff;
}

.wc-pagination ul li a:hover {
    background-color: #dadada;
}

div#ares-shop-wrap {
    padding: 30px;
    background-color: #fff;
    border: thin solid #f0f0f0;
}

.woocommerce ul.products li.product a img {
    margin-bottom: 0;
}

h2.woocommerce-loop-product__title {
    font-size: 1.5em !important;
}

.woocommerce ul.products li.product .price {
    font-size: 1.25em;
    margin: 10px 0;
    color: #525252;
}

.woocommerce a.button.add_to_cart_button,
.woocommerce button.single_add_to_cart_button,
.widget.woocommerce a.button,
.woocommerce-cart .woocommerce a.button {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    border-radius: 20px;
    padding: 0 17px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
    color: #fff !important;
    font-weight: 400;
    font-size: 16px;
    text-shadow: none;
    border: none;
    transition: .3s all ease-in-out;
    -moz-transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;
}

.woocommerce div.product p.price, 
.woocommerce div.product span.price {
    color: #525252;
}

.woocommerce span.onsale {
    padding: 0px 10px;
    border-radius: 0 0 0 0;
    min-height: 0 !important;
    min-width: 0 !important;
}

h2.woocommerce-loop-product__title,
.woocommerce .star-rating span {
    transition: .3s all ease-in-out;
    -moz-transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;
}

.woocommerce .woocommerce-breadcrumb {
    font-size: 16px;
}

form.woocommerce-ordering {
    margin-bottom: 30px !important;
}

.woocommerce .quantity .qty {
    height: 30px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
    font-weight: 400;
}

h2.woocommerce-Reviews-title {
    margin-bottom: 30px;
}

.woocommerce #reviews #comments ol.commentlist {
    padding-left: 0 !important;
}

.woocommerce input[type="submit"].button {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    border-radius: 20px;
    padding: 0 17px !important;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
    color: #fff !important;
    font-weight: 400;
    font-size: 16px;
    text-shadow: none;
    border: none;
    transition: .3s all ease-in-out;
    -moz-transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;
}

.woocommerce a.checkout-button.button {
    display: block;
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
    padding: 0 17px !important;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
    color: #fff !important;
    font-weight: 400;
    font-size: 16px;
    text-shadow: none;
    border: none;
    transition: .3s all ease-in-out;
    -moz-transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;
}

.camera_prev, 
.camera_next {
    background: none;
}

.camera_prev > span, 
.camera_next > span {
    background-position-y: -80px;
}

div#ares_slider_wrap .ares-button {
    line-height: 50px;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px;
    margin-top: 15px;
}

#homepage-area-d .top-banner-text h2 {
    text-align: center;
}

/* Header Cart */
div#header-cart {
    position: relative;
}

#header-cart .fa {
    padding: 15px 0px 15px 15px;
    font-size: 24px;
    cursor: pointer;
}

div#header-cart .cart-count {
    position: absolute;
    top: 5px;
    right: -15px;
    color: #fff;
    width: 22px;
    height: 22px;
    text-align: center;
    border-radius: 50%;
    line-height: 22px;
    font-size: 12px;
    cursor: pointer;
}

div#cart-slide-wrap {
    background: #131313;
    color: #fff;
}

div#cart-slide-wrap h3.cart-title {
    margin: 0 0 15px 0;
    text-align: left;
}

div#cart-slide-wrap .inner-wrap {
    padding: 30px 30px 120px 30px;
    height: 100%;
    display: none;
    text-align: right;
}

#cart-slide-wrap .cart-product {
    position: relative;
    border-radius: 3px;
}

#cart-slide-wrap .cart-product .cart-image {
/*    border: thin solid #e6e6e6;
    padding: 5px;*/
    margin-bottom: 0px;
    position: relative;
}

#cart-slide-wrap .cart-product .cart-image img {
    max-height: none;
    width: 100%;
    height: auto;
    float: none;
    border-radius: 3px;
}

#cart-slide-wrap .cart-product .cart-details {
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    border-top: thin solid #cacaca;
    padding-top: 5px;
    margin-top: 10px;
    text-align: left;
}

#cart-slide-wrap .cart-product .cart-details a {
    transition: .3s all ease-in-out;
    -moz-transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;
    color: #fff !important;
}
#cart-slide-wrap .cart-product .cart-details .price {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 5px 5px 10px;
    border-bottom-left-radius: 5px;
    font-weight: 600;
}

#cart-slide-wrap h3.subtotal {
    text-align: center;
}

#cart-slide-wrap h3.subtotal .label {
    display: block;
    text-align: center;
    padding: 0;
}

div#cart-slide-wrap .inner-wrap a.ares-button {
    color: #fff !important;
    width: 100%;
    text-align: center;
}

div#cart-slide-wrap .inner-wrap a.ares-button.hollow-button {
    background: none !important;
    border: 2px solid #fff;
    color: #fff;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    line-height: 26px;
}
div#cart-slide-wrap .inner-wrap a.ares-button.hollow-button:hover {
    opacity: .75;
}

.mobile-trigger-wrap #header-cart .fa {
    padding: 15px 0 15px 8px !important;
    margin-right: 20px;
}

.mobile-trigger-wrap #header-cart .cart-count {
    right: 5px;
}

.woocommerce.widget_shopping_cart ul li > a:nth-of-type(2) {
    font-size: 16px !important;
    padding: 0;
}

.woocommerce.widget_shopping_cart ul li {
    padding: 10px 0 0 !important;
    margin: 10px 0 !important;
    border-top: thin solid #cacaca !important;
    border-bottom: 0;
    text-align: center !important;
}

.woocommerce.widget_shopping_cart ul li a.remove {
    top: 20px !important;
    text-align: center !important;
    color: #333 !important;
    transition: .3s all ease-in-out;
    -moz-transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;
    line-height: 22px !important;
    width: 22px;
    height: 22px;
    padding: 0 !important;
}

.woocommerce.widget_shopping_cart ul li a.remove:hover {
    background-color: #333 !important;
    color: #fff !important;
}

.woocommerce.widget_shopping_cart ul li > a:nth-of-type(2) img {
    position: relative !important;
    display: block !important;
    float: none !important;
    text-align: center !important;
    margin: 0 auto !important;
    height: 50px !important;
    width: auto !important;
}

.widget.woocommerce.widget_products a {
    padding: 0;
}

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
    background: #777;
}

.widget.woocommerce .button {
    color: #fff !important;
}

/* ----- WooCommerce Updates ----- */
ul.products mark.count {
    display: none;
}

h2.woocommerce-loop-category__title {
    font-size: 1.5em !important;
}