body{
    background: white !important;
}
body img{
    border-radius: 3px;
}

h2{
    color: #F15A24;
}

#site-branding img{
    margin-left: 8px;
    width: 150px;
}

div input[type="submit"]{
    border-radius: 3px;
    box-shadow: 0px 1px 1px 0px #63ffff;
    -moz-box-shadow: 0px 1px 1px 0px #63ffff;
    -webkit-box-shadow: 0px 1px 1px 0px #63ffff;
    font-weight: 600;
    background-color: white;
    color: #0fe5ff;
    border: 1px solid #1B1464;
    height: 29px;
}

div input[type="submit"]:hover{
    border-radius: 3px;
    box-shadow: 0px 1px 1px 0px #F15A24;
    -moz-box-shadow: 0px 1px 1px 0px #F15A24;
    -webkit-box-shadow: 0px 1px 1px 0px #F15A24;
    font-weight: 600;
    background-color: white;
    color: #F15A24;
    border: 1px solid #1B1464;
}

/******* MENU **********/

.site-header{
    box-shadow: 0px -3px 10px 0px #1B1464;
    -moz-box-shadow: 0px -3px 10px 0px #1B1464;
    -webkit-box-shadow: 0px -3px 10px 0px #1B1464;
}

div#site-toolbar .social-bar a{
    background: #c1ffff !important;
    border: 1px solid #0fe5ff !important;
    color: #0fe5ff !important;
}

div#site-toolbar .social-bar a:hover{
    background: white !important;
    color: #F15A24;
    border-color: #F15A24;
}

.navigation #site-navigation.main-navigation li a{
    color: #1B1464;
    font-weight: bold;
    padding: 0 10px 0 10px;
}

#site-navigation.main-navigation li a{
    color: #1B1464;
    font-weight: bold;
    padding: 0 10px 0 10px;
}

#site-navigation.main-navigation li:hover{
    box-shadow: 0px -5px 5px -5px #F15A24;
    -moz-box-shadow: 0px -5px 5px -5px #F15A24;
    -webkit-box-shadow: 0px -5px 5px -5px #F15A24;
    color: #1B1464;
}

.navigation #site-navigation.main-navigation li:hover{
    box-shadow: 0px -5px 5px -5px #F15A24;
    -moz-box-shadow: 0px -5px 5px -5px #F15A24;
    -webkit-box-shadow: 0px -5px 5px -5px #F15A24;
    color: #1B1464;
}

#site-navigation.main-navigation li ul.sub-menu li:hover{
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

#site-navigation.main-navigation li a:hover{
    color: #63ffff;
}

.navigation #site-navigation.main-navigation li a:hover{
    color: #63ffff;
}

#header-cart .fa{
    color: #1B1464;
}

#header-cart .fa:hover{
    color: #b72500;
}

/******* END MENU ******/

/******* FOOT MAIN SLIDER ******/
div#post-slider-cta{
    background-color: #1B1464 !important;
}

div#post-slider-cta .main-heading{
    color: #F15A24;
}

div#post-slider-cta h4.secondary-heading{
    font-weight: 400;
    color: white !important;
}

div#site-cta-wrap{
    z-index: 1;
    position: relative;
    border-bottom: none;
    -webkit-box-shadow: 0px 10px 46px -6px #414154;
    -moz-box-shadow: 0px 10px 46px -6px #414154;
    box-shadow: 0px 10px 46px -6px #414154;
    padding: 25px 0px 55px;
}

div#site-cta{
    border-top: none;
}

#site-cta .site-cta i.fa{
    border: 2px solid #63ffff;
    color: #63ffff;
}

#site-cta .site-cta i.fa:hover{
    border: 2px solid #F15A24;
    color: #F15A24;
    background: white;
}

div.site-cta h3{
    color: #F15A24;
}

div.site-cta a{
    color: #1B1464;
}

div.site-cta a:hover{
    color: #63ffff;
}

p a{
    transition: 0.2s;
}

/***** END FOOT MAIN SLIDER *****/

/****** SECOND SLIDER **********/

div#homepage-area-c{
    padding: 0;
}

#homepage-area-c div.top-banner-text{
    margin-bottom: 0px;
}

#homepage-area-c .top-banner-text h2{
    display: none;
}

#homepage-area-c aside.widget{
    margin: 0px !important;
}

.ms-skin-light-6 .ms-bullets.ms-dir-h{
    display: none;
}
/****** END SECOND SLIDER ********/

/******* ENTREPRENEUR OF THE MONTH *********/

#homepage-area-d{
    z-index: 1;
    position: relative;
    -webkit-box-shadow: 0px -10px 46px -6px #414154;
    -moz-box-shadow: 0px -10px 46px -6px #414154;
    box-shadow: 0px -10px 46px -6px #414154;
    padding: 80px 0px 60px !important;
}

#media_image-7 img{
    -webkit-box-shadow: 0px 0px 55px 0px rgba(99,255,255,0.8);
    -moz-box-shadow: 0px 0px 55px 0px rgba(99,255,255,0.8);
    box-shadow: 0px 0px 55px 0px rgba(99,255,255,0.8);
    border-radius: 50%;
}

#media_image-7 h2{
    color: #F15A24;
    font-weight: 600;
    font-size: 20px;
}

#video-4-1_youtube_iframe{
    -webkit-border-radius: 10px;
    -webkit-border-bottom-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius: 10px;
    -moz-border-radius-bottomright: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-radius: 10px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

/******** END ENTREPRENEUR OF THE MONTH *******/

/******* FRONT *********/
.homepage-content div article header.entry-header{
    display: none;
}

.frontpage{
    padding: 40px 0px;
}

.homepage-content article{
    padding-top: 1px;
    padding-bottom: 30px;
    background: #fff;
    box-shadow: 0px 0px 11px -4px #1B1464;
    -moz-box-shadow: 0px 0px 11px -4px #1B1464;
    -webkit-box-shadow: 0px 0px 11px -4px #1B1464;
    border: none;
    border-radius: 3px !important;
}

.homepage-content .avenue-sidebar .widget{
    box-shadow: 0px 0px 11px -4px #1B1464;
    -moz-box-shadow: 0px 0px 11px -4px #1B1464;
    -webkit-box-shadow: 0px 0px 11px -4px #1B1464;
    border: none;
}

.widget-title{
    color: #F15A24;
    font-weight: 600;
    font-size: 20px;
}

.avenue-sidebar .widget .textwidget{
    color: #666684;
}

.widget.buddypress #bp-login-widget-form label{
    color: #1b1464;
}

#bp-login-widget-submit{
    float: left;
}

#bp-login-widget-form span{
    float: left;
    margin-top: 4px;
}

.bp-login-widget-register-link a:hover{
    border-radius: 3px;
    box-shadow: 0px 1px 1px 0px #63ffff;
    -moz-box-shadow: 0px 1px 1px 0px #63ffff;
    -webkit-box-shadow: 0px 1px 1px 0px #63ffff;
    font-weight: 600;
    background-color: white;
    color: #0fe5ff;
    border: 1px solid #1B1464;
    height: 29px;
}

.bp-login-widget-register-link a{
    border-radius: 3px;
    box-shadow: 0px 1px 1px 0px #F15A24;
    -moz-box-shadow: 0px 1px 1px 0px #F15A24;
    -webkit-box-shadow: 0px 1px 1px 0px #F15A24;
    font-weight: 600;
    background-color: white;
    color: #F15A24;
    border: 1px solid #1B1464;
    padding: 6px 15px;
    transition: .3s all ease-in-out;
    -moz-transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;
}

/******* END FRONT **********/

/****** FOOTER **********/ 
.site-footer{
    margin-top: 0 !important;
}

div#footer-callout{
    background-color: #00cbcc;
}

#footer-callout a.button-cta{
    color: #F15A24;
    border: 1px solid #F15A24;
    box-shadow: 0px 1px 1px 0px #F15A24;
    -moz-box-shadow: 0px 1px 1px 0px #F15A24;
    -webkit-box-shadow: 0px 1px 1px 0px #F15A24;
}

div#footer-callout .row{
    padding: 20px 0 15px 0;
}

.site-footer div.site-info{
    color: white;
    background: #1B1464;
    padding: 0;
}

.site-footer span.ares-copyright{
    float: left;
    margin-top: 10px;
}

.site-footer .site-info a.rel{
    visibility: hidden;
}

footer.site-footer{
    color: #FFF;
    background: #000032 !important;
}

.site-footer .widget-title{
    color: #F15A24;
}
/******* END FOOTER **********/


/******* COMPANIES ***********/
main.site-main{
    background-image: url(https://elemprende.herokuapp.com/wp-content/themes/ares/inc/images/brickwall.png);
    padding-bottom: 30px;
}

header.page-header .page-title{
    background-color: #1B1464 !important;
}

.item-post{
    box-shadow: 0px 0px 11px -4px #1B1464;
    -moz-box-shadow: 0px 0px 11px -4px #1B1464;
    -webkit-box-shadow: 0px 0px 11px -4px #1B1464;
    border: none;
    cursor: pointer;
}

.item-post .post-thumb{
    margin-bottom: 10px;
}

.item-post .post-thumb img{
    border: none !important;
    box-shadow: 0px 0px 10px 1px #0fe5ff;
    -moz-box-shadow: 0px 0px 10px 1px #0fe5ff;
    -webkit-box-shadow: 0px 0px 10px 1px #0fe5ff;
}

h2.post-title{
    text-align: center;
}

h2.post-title a{
    color: #F15A24;
}

.post-content{
    margin-bottom: 15px;
    color: #1B1464;
}

.post-content p{
    color: #1B1464;
}

.item-post a.ares-button{
    margin-top: 0;
    background-color: white !important;
    color: #F15A24 !important;
}

.item-post a.ares-button:hover{
    color: #0fe5ff !important;
}

a.button-primary{
    border-radius: 3px;
    box-shadow: 0px 1px 1px 0px #F15A24;
    -moz-box-shadow: 0px 1px 1px 0px #F15A24;
    -webkit-box-shadow: 0px 1px 1px 0px #F15A24;
    font-weight: 600;
    border: 1px solid #1B1464;
}

a.button-primary:hover{
    border-radius: 3px;
    box-shadow: 0px 1px 1px 0px #63ffff;
    -moz-box-shadow: 0px 1px 1px 0px #63ffff;
    -webkit-box-shadow: 0px 1px 1px 0px #63ffff;
    font-weight: 600;
}

/******** END COMPANIES *******/

/****** STORE ********/
.woocommerce ul.products li.product .button{
    border-radius: 3px;
    box-shadow: 0px 1px 1px 0px #63ffff;
    -moz-box-shadow: 0px 1px 1px 0px #63ffff;
    -webkit-box-shadow: 0px 1px 1px 0px #63ffff;
    font-weight: 600;
    background-color: white;
    color: #0fe5ff !important;
    border: 1px solid #1B1464;
    height: 29px;
}

.woocommerce ul.products li.product .button{
    border-radius: 3px;
    box-shadow: 0px 1px 1px 0px #F15A24;
    -moz-box-shadow: 0px 1px 1px 0px #F15A24;
    -webkit-box-shadow: 0px 1px 1px 0px #F15A24;
    font-weight: 600;
}

.woocommerce .star-rating span{
    color: #F15A24;
}

/****** END STORE ********/

@media screen and (max-width: 440px) {
    .item-post .post-title, h2, h2.post-title{
        font-size: 20px;
    }

    p{
        font-size: 12px;
    }

    .companies-row{
        padding: 0;
    }
}

@media screen and (max-width: 340px) {
    .item-post .post-title, h2, h2.post-title{
        font-size: 13px;
        font-weight: 600;
        line-height: 20px;
    }

    .post-content{
        font-size: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}