.elementor-element-3cd6dc8{
    padding: 30px 0;
    background-color: #1b1464;
}

.elementor-element-8801ae0 .elementor-column-wrap .elementor-widget-wrap{
    background-color: #fff;
}

.elementor-element-2ed4046{
    padding: 30px 0;
    -webkit-box-shadow: 0px 10px 40px -23px #1B1464;
    -moz-box-shadow: 0px 10px 40px -23px #1B1464;
    box-shadow: 0px 10px 40px -23px #1B1464;
}

.elementor-column{
    padding: 15px;
}

.elementor-text-editor h2{
    font-weight: 700;
}

.elementor-text-editor{
    line-height: 30px !important;
    text-align: center;
}