.page-id-10 .site-content{
    padding-bottom: 60px;
}

.elementor-element-3cd6dc8{
    padding: 0;
    background-color: #1b1464;
}

section.elementor-element-3cd6dc8 .elementor-container{
    max-width: inherit !important;
}

div.elementor-element-4a35706, div.elementor-element-4a35706 div.elementor-element-populated{
    padding: 0;
}

div.elementor-element-8801ae0, div.elementor-element-8801ae0 div.elementor-element-populated{
    padding: 0;
}


.elementor-element-8801ae0 .elementor-column-wrap .elementor-widget-wrap{
    background-color: #fff;
}

/* .elementor-element-4a35706 .elementor-element-populated{
    -webkit-box-shadow: 0px 0px 5px 1px #000039;
    -moz-box-shadow: 0px 0px 5px 1px #000039;
    box-shadow: 0px 0px 5px 1px #000039;
}

.elementor-element-8801ae0 .elementor-element-populated{
    -webkit-box-shadow: 0px 0px 5px 1px #000039;
    -moz-box-shadow: 0px 0px 5px 1px #000039;
    box-shadow: 0px 0px 5px 1px #000039;
} */

.elementor-element-2ed4046{
    padding: 30px 0;
    -webkit-box-shadow: 0px 10px 40px -23px #1B1464;
    -moz-box-shadow: 0px 10px 40px -23px #1B1464;
    box-shadow: 0px 10px 40px -23px #1B1464;
}

.elementor-column{
    padding: 15px;
}

.elementor-text-editor h2{
    font-weight: 700;
}

.elementor-text-editor{
    line-height: 30px !important;
    text-align: center;
}

.elementor-button.elementor-size-xl{
    font-size: 14px !important;
    padding: 25px 25px !important;
    font-weight: 600;
    background-color: #1b1464 !important;
}

.elementor-button.elementor-size-xl:hover{
    position: relative;
    opacity: 1;
    top: -1px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(99,255,255,0.8);
    -moz-box-shadow: 0px 0px 15px 0px rgba(99,255,255,0.8);
    box-shadow: 0px 0px 15px 0px rgba(99,255,255,0.8);
}

.elementor-button span.elementor-align-icon-right{
    padding-right: 5px;
    float: left !important;
    display: inline-block;
    padding-bottom: 10px;
    margin-left: 5px;
    color: #f15a24;
}

@media screen and (max-width: 1300px) {
    .elementor-button span.elementor-align-icon-right{
        float: none !important;
        display: inline-block;
    }
}